:root { 
--white_A700_7f:#ffffff7f; 
--bluegray_900_bf:#292c38bf; 
--white_A700_b2:#ffffffb2; 
--bluegray_50:#eef0f2; 
--white_A700_3f:#ffffff3f; 
--red_600:#e23a35; 
--blue_A400:#3772ff; 
--deep_purple_800:#2816d3; 
--pink_900:#690a1f; 
--red_602:#f52424; 
--lime_A400:#b5fb02; 
--teal_900:#033c4e; 
--deep_purple_A201:#6252fa; 
--black_900_07:#00000007; 
--white_A700_19:#ffffff19; 
--deep_purple_A200:#6352fb; 
--purple_500:#9d2cb9; 
--cyan_A700:#00b2d6; 
--black_900_05:#00000005; 
--gray_600:#828282; 
--white_A700_4c:#ffffff4c; 
--gray_601:#7c876e; 
--blue_900:#003c82; 
--gray_400:#b7babc; 
--gray_802:#4a4f40; 
--gray_800:#4f4f4f; 
--gray_801:#373a46; 
--gray_200:#ebebeb; 
--orange_200:#ffca7b; 
--white_A700_66:#ffffff66; 
--bluegray_800:#434f55; 
--indigo_A700:#384bf2; 
--bluegray_401:#7e829a; 
--bluegray_400:#7e839a; 
--bluegray_201:#a1becd; 
--black_900_51:#00000051; 
--bluegray_200:#b7c1c6; 
--blue_300:#6e9cf7; 
--blue_301:#6d9bf7; 
--white_A700:#ffffff; 
--gray_912:#15161d; 
--gray_913:#2a2d25; 
--blue_A700:#0263ff; 
--gray_910:#1f221c; 
--amber_A400:#ffc400; 
--white_A700_33:#ffffff33; 
--black_900:#000000; 
--black_901:#0a0b09; 
--gray_905:#16181c; 
--gray_906:#20282d; 
--gray_903:#1e262b; 
--gray_904:#111516; 
--purple_800:#6402b2; 
--gray_909:#141612; 
--gray_907:#230b0e; 
--black_900_26:#00000026; 
--gray_908:#212529; 
--gray_501:#a09f9f; 
--gray_303:#e2e7e9; 
--gray_700:#686868; 
--gray_301:#e6e6e6; 
--gray_500:#979797; 
--gray_302:#e2e6e8; 
--gray_901:#24252d; 
--gray_902:#1d2529; 
--gray_900_00:#20282d00; 
--gray_900:#141414; 
--bluegray_100:#d4d7dd; 
--gray_101:#f4f4fa; 
--gray_300:#e2e4e8; 
--gray_100:#f5f5f5; 
--bluegray_900:#292c38; 
--gray_900_3f:#24252d3f; 
--bluegray_700:#38596a; 
--bluegray_501:#70848e; 
--bluegray_500:#4d7a91; 
--cyan_700:#1089b0; 
--bluegray_903:#283033; 
--bluegray_902:#282f33; 
--bluegray_901:#2c3039; 
}